Repository InShine-Studios/Horror-3D, pull requests merged in 2022-04, with the labels that each got.

#311 Sprint 13
  Assets/Astralization/Characters/Player/Iris/Iris3D.prefab
  Assets/Astralization/Gameplay/GameStates/AstralMeter.prefab
  Assets/Astralization/Gameplay/GameStates/AstralMeter.prefab.meta
  Assets/Astralization/Gameplay/GameStates/WorldState.prefab
  Assets/Astralization/Gameplay/GameStates/WorldState.prefab.meta
  Assets/Astralization/Scripts/Interactables/Interactable.cs
  Assets/Astralization/Scripts/Interactables/Item/Item.cs
  Assets/Astralization/Scripts/Managers/GameManager.cs
  Assets/Astralization/Scripts/Player/PlayerStates/DefaultPlayerState.cs
  Assets/Astralization/Scripts/Player/PlayerStates/PlayerState.cs
  Assets/Astralization/Scripts/Player/PlayerStates/UiState.cs
  Assets/Astralization/Scripts/Scripts.asmdef
  Assets/Astralization/Scripts/States/AstralMeterLogic.cs
  Assets/Astralization/Scripts/States/Volume.meta
  Assets/Astralization/Scripts/States/Volume/Volume.cs
  Assets/Astralization/Scripts/States/Volume/Volume.cs.meta
  Assets/Astralization/Scripts/States/Volume/VolumeAstral.cs
  Assets/Astralization/Scripts/States/Volume/VolumeAstral.cs.meta
  Assets/Astralization/Scripts/States/Volume/VolumeReal.cs
  Assets/Astralization/Scripts/States/Volume/VolumeReal.cs.meta
  Assets/Astralization/Scripts/States/WorldState.meta
  Assets/Astralization/Scripts/States/WorldState/WorldAstralState.cs
  Assets/Astralization/Scripts/States/WorldState/WorldAstralState.cs.meta
  Assets/Astralization/Scripts/States/WorldState/WorldInitState.cs
  Assets/Astralization/Scripts/States/WorldState/WorldInitState.cs.meta
  Assets/Astralization/Scripts/States/WorldState/WorldRealState.cs
  Assets/Astralization/Scripts/States/WorldState/WorldRealState.cs.meta
  Assets/Astralization/Scripts/States/WorldState/WorldState.cs
  Assets/Astralization/Scripts/States/WorldState/WorldState.cs.meta
  Assets/Astralization/Scripts/States/WorldState/WorldStateMachine.cs
  Assets/Astralization/Scripts/States/WorldState/WorldStateMachine.cs.meta
  Assets/Astralization/Tests/InteractableTest/ExorcismTestScene.unity
  Assets/Astralization/Tests/StateTest/AstralTest.cs
  Assets/Astralization/Tests/StateTest/AstralTestScene.unity
  Assets/Astralization/Tests/StateTest/AstralWorldEntryTest.cs
  Assets/Astralization/Tests/StateTest/AstralWorldTestScene.unity
  Assets/Astralization/_Levels/_General/Player Follow.prefab
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: Assets :art:, Designing :books:, Documentation :memo:, Programming :computer:

#316 [feature] adding implementation for kill phase
  Assets/Astralization/Characters/Ghost/Ghost.prefab
  Assets/Astralization/Scripts/Ghost/GhostManager.cs
  Assets/Astralization/Scripts/Ghost/GhostManager.cs.meta
  Assets/Astralization/Scripts/Ghost/GhostStates/GhostStateMachine.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ClockItem.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ClockStates/ClockManager.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/SilhouetteBowlItem.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/SilhouetteBowlStates/SilhouetteBowlManager.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ThermometerItem.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ThermometerStates/ThermometerManager.cs
  Assets/Astralization/Scripts/Managers/GameManager.cs
  Assets/Astralization/Tests/GhostTest/GhostTest.cs
  Assets/Astralization/Tests/GhostTest/HouseAbigail_GhostTest.unity
  Assets/_Developers/Naufal/Random Ghost.unity
  Assets/_Developers/Naufal/Random Ghost.unity.meta
Labels: Programming :computer:

#322 Sprint 14 & 15
  Assets/Astralization/Characters/Ghost/Ghost.prefab
  Assets/Astralization/Scripts/Ghost/GhostManager.cs
  Assets/Astralization/Scripts/Ghost/GhostManager.cs.meta
  Assets/Astralization/Scripts/Ghost/GhostStates/GhostStateMachine.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ClockItem.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ClockStates/ClockManager.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/SilhouetteBowlItem.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/SilhouetteBowlStates/SilhouetteBowlManager.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ThermometerItem.cs
  Assets/Astralization/Scripts/Interactables/Item/EvidenceItem/ThermometerStates/ThermometerManager.cs
  Assets/Astralization/Scripts/Managers/GameManager.cs
  Assets/Astralization/Tests/GhostTest/GhostTest.cs
  Assets/Astralization/Tests/GhostTest/HouseAbigail_GhostTest.unity
  Assets/_Developers/Naufal/Random Ghost.unity
  Assets/_Developers/Naufal/Random Ghost.unity.meta
Labels: Assets :art:, Designing :books:, Documentation :memo:, Programming :computer:, Business :dollar:
